{% extends "task_masters/base.html" %}

{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3">Manage Your Tasks</h1>

        <p class="lead">Manage all of your tasks in one centralized location.  Create a new task for each item
            on your "to-do" list, apply a priority code, and a due date.  Create new notes for the task to provide
            details and to add updates for the task.  When you complete a task, mark it as 'Completed' and add
            notes about your final steps.  Watch your productivity skyrocket!</p>

        <a class="btn btn-lg btn-info" href="{% url 'users:register' %}"
           role="button">Register &raquo;</a>
    </div>
{% endblock page_header %}
