{% extends "task_masters/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h2>Create a New Task</h2>
{% endblock page_header %}

{% block content %}

    <p>Enter a descriptive title for your task:</p>
    <p>Select the priority of the task:  1 = high; 2 = medium; 3 = low; 9 = whenever time is available</p>
    <p>Enter the date your task is due:</p>

    <p>New task:</p>
    <div class="form-group">
        <form method="post" action="{% url 'task_masters:new_task' %}" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button name="submit" class="btn btn-info">Create Task</button>
            {% endbuttons %}
        </form>
    </div>

{% endblock content %}
