{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h2>Add a New Entry for the Topic</h2>
{% endblock page_header %}

{% block content %}

<p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>

<p><h4>Add a new entry, then click the 'Add entry' button.</h4></p>
    <form action="{% url 'learning_logs:new_entry' topic.id %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        {% buttons %}
            <button name='submit' class="btn btn-primary">Add entry</button>
        {% endbuttons %}
    </form>

{% endblock content %}
